$font-family: 'Roboto', sans-serif;

* {
  color: $black;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body { font-family: $font-family; }

.use-type {
  h1 { font-size: 42px; }
  h2 { font-size: 36px; }
  h3 { font-size: 32px; }
  h4 { font-size: 24px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }

  h1.subtitle { font-size: 36px; }
  h2.subtitle { font-size: 32px; }
  h3.subtitle { font-size: 24px; }
  h4.subtitle { font-size: 18px; }
  h5.subtitle { font-size: 16px; }
  h6.subtitle { font-size: 14px; }

  .subtitle { color: rgba($black, .42); }
}
